@import '../../theme/variables.styl';
@import '../../theme/mixins.styl';

//
// Alerts
// --------------------------------------------------

.alert
  padding 15px
  margin-bottom $line-height
  border-radius $border-radius

  // Headings for larger alerts
  h4
    margin-top 0
    color inherit

  .alert-link
    font-weight 500;

  > p,
  > ul
    margin-bottom 0

  > p + p
    margin-top 5px

  // Button section
  .actions
    margin-top 10px

    &.pull-right,
    &.pull-left
      margin-top 0

    .btn + .btn
      margin-left 10px

    +breakpoint("mobile-landscape", "max")
      margin-top 10px !important
      float: none !important

      .btn
        display block
        width 100%
        margin-left 0 !important

        & + .btn
          margin-top 10px

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible
  padding-right ($alert-padding + 20)

  // Adjust close link position
  .close
    position relative
    top -2px
    right -21px
    color inherit

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success
  alert-variant($alert-success-bg, $alert-success-border, $alert-success-text)

.alert-info
  alert-variant($alert-info-bg, $alert-info-border, $alert-info-text)

.alert-warning
  alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text)

.alert-danger
  alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text)

.alert
  border: 0;

  .close
    color: currentColor;
    outline: none;
    margin-top: 4px;

  a
    color: currentColor;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    &:hover
      opacity: 0.7;

.alert-success
  background-color: lighten($bg-status-success, 80%)
  color: darken($bg-status-success, 50%)
  a
    border-color: rgba(darken($bg-status-success, 50%), 0.4)

.alert-info
  background-color: lighten($bg-status-info, 80%)
  color: darken($bg-status-info, 50%)
  a
    border-color: rgba(darken($bg-status-info, 50%), 0.4)

.alert-warning
  background-color: lighten($bg-status-warning, 80%)
  color: darken($bg-status-warning, 50%)
  a
    border-color: rgba(darken($bg-status-warning, 50%), 0.4)

.alert-danger
  background-color: lighten($bg-status-error, 80%)
  color: darken($bg-status-error, 50%)
  a
    border-color: rgba(darken($bg-status-error, 50%), 0.4)
