<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- <script src='https://fb.me/react-0.14.7.min.js'></script> -->
    <!-- <script src='https://fb.me/react-dom-0.14.7.js'></script> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js'></script> -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/javascript/javascript.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css"/>

  </head>
  <body class="boilerplate-styleguide">
    <div id="content"></div>
  </body>
</html>
